<!-- <h3>Data from News</h3>
<div>
  <table class="news">
    <thead>
      <th>ID</th>
      <th>Title</th>
      <th>Publisher</th>
      <th>Link</th>
    </thead>
    <tbody>
      <tr *ngFor="let array of arrayNews;let i=index; let evenItem =even; let oddItem=odd"
      [class.even]="evenItem" [class.odd]="oddItem">
        <td>{{array.uuid}}</td>
        <td>{{array.title}}</td>
        <td>{{array.publisher}}</td>
        <td>{{array.link}}</td>
      </tr>
    </tbody>
  </table>
</div>

<mat-divider></mat-divider>

<h3>Data from Quotes</h3>
<div>
  <table class="quotes">
    <thead>
      <th>Exchange</th>
      <th>Index</th>
      <th>Industry</th>
      <th>Long name</th>
      <th>Quote</th>
      <th>Score</th>
      <th>Sector</th>
      <th>Symbol</th>
    </thead>
    <tbody>
      <tr *ngFor="let arrayq of arrayQuotes; let i=index; let evenItem =even; let oddItem=odd"
      [class.even]="evenItem" [class.odd]="oddItem">
        <td>{{arrayq.exchange}}</td>
        <td>{{arrayq.index}}</td>
        <td>{{arrayq.industry}}</td>
        <td>{{arrayq.longname}}</td>
        <td>{{arrayq.quoteType}}</td>
        <td>{{arrayq.score}}</td>
        <td>{{arrayq.sector}}</td>
        <td>{{arrayq.symbol}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
