.odd {
  background-color: rgb(209, 188, 181);
}

.even {
  background-color: rgb(255, 255, 255);
}

table,td,tr,th{
  border: 1px solid black;
  text-align: left;
}
th{
  background-color: darkorange;
}
/* table{
  margin: 10px;
} */