<!-- TODO myService data shon on browser -->

<!-- <ng-container *ngFor="let product of products">
  Product Name : <strong class="text-success">{{product.name}}</strong>
  Product Id : <strong class="text-success">{{product.id}}</strong>

</ng-container> -->

<!-- TODO demo service data display in table form -->
<div class="row justify-content-center">
  <div class="col-md-8">
      <label for="serch"> Search by User name</label>
      <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="namesearch">
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Website</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let item of users | searchUser:namesearch; let i=index; let evenItem =even; let oddItem=odd"
      [class.even]="evenItem" [class.odd]="oddItem">
        <td scope="row">{{i+1}}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.username }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.address.street }}, {{ item.address.suite }}, {{ item.address.city }} {{ item.address.zipcode }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.website }}</td>
        <td>{{ item.company.name }}, {{ item.company.catchPhrase }}, {{ item.company.bs }}</td>
      </tr>
  </tbody>
</table>

