
<mat-grid-list cols="3" rowHeight="1:1.5">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><strong>Godrej 236 L 2 Star Inverter Frost Free Double Door Refrigerator</strong></mat-card-title>
        <mat-card-subtitle>Refrigerator</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/eproduct_image/refrigerator.jpg" alt="Photo of a refrigerator">
      <mat-card-content>
        <ul>
          <li>Frost-free refrigerator with Anti-B technology- Anti microbial resistance in the door gasket keep germs away</li>
          <li>Capacity: 236 litres suitable for a medium sized family</li>
          <li>Energy rating: 2 star, Annual energy consumption: 243 Kilowatt Hours</li>
          <li>Warranty: 1 year on product, 10 years on compressor</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="refrigerator" mat-raised-button color="primary">About it</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title><strong>Compact Bagless Vacuum Cleaner</strong></mat-card-title>
        <mat-card-subtitle>Vacuum Cleaner</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../assets/eproduct_image/vacuumcleaner1.jpg" alt="Photo of a vacuum cleaner" >
      <mat-card-content>
        <ul>
          <li>Powercyclone 5 technology separates dust from air, Action radius: 9 m, Cord length: 6m</li>
          <li>Suction power (max):370W ,Input power (IEC): 1900W , Vacuum (max) :33kPa. Weight of product: 4.5 kg</li>
          <li>Turbo Brush removes 25 percent more hairs and dust , Multiclean nozzle for thorough floor cleaning</li>
          <li>Advanced dust container design for hygienic emptying</li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button routerLink="vacuumcleaner" mat-raised-button color="primary">About it</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>


  <mat-grid-tile>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title><strong>LG 8kg washing machine</strong></mat-card-title>
          <mat-card-subtitle>washing machine</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/eproduct_image/washing machine.webp" alt="Photo of a washine machine" >
        <mat-card-content>
          <ul>
            <li>Fully-automatic front load washing machine: Best Wash Quality, Energy and Water efficient</li>
            <li>Capacity 8 kg: Suitable for large families</li>
            <li>Energy Rating 5 Star: Best in class efficiency</li>
            <li>Manufacturer Warranty: 2 years on product, 10 years on motor</li>
          </ul>
        </mat-card-content>
        <mat-card-actions>
          <button routerLink="washingmachine" mat-raised-button color="primary">About it</button>
        </mat-card-actions>
      </mat-card>
  
  </mat-grid-tile>
</mat-grid-list>
