mat-grid-list {
  background: rgb(250, 250, 250);
}
mat-grid-tile {
  margin-right: 0;
}

mat-card {
    border: 1pz;
    height: 500px;
}

mat-card-title{
    text-align: center;
    color: rgb(rgb(6, 122, 97));
}

mat-card-content{
    text-align: center
}
