
li {
  list-style-type: none;
}

input{
  background: linear-gradient(90deg, #1e0b04,#71412a);
  border-radius: 30px;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  padding: 10px; /* add some padding to the input box */
  width: 100%; /* set the width of the input box */
  font-size: 16px; /* set the font size of the input text */
  margin-top: 5px

}

.navbar-nav {
  flex-direction: row;
  margin-top: 30px;
  width: 100%;
}

.nav-item {
  flex-direction: row;
  padding: 10px;
  text-align: center;
  width: 20%;
}

.nav-link {
  color: rgb(2, 21, 37);
  font-size: large;
  font-weight: bold;
}

.sub-card-img {
  width: 50%;
}

a {
  text-decoration: none;
}
