<ul>
    <li class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://m.media-amazon.com/images/I/91VUGLXXkzL._AC_UL320_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shirt</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-body">
        <button class="addToCard" mat-flat-button color="warn" (click)="addToCard()"> ADD TO CART
        </button>
        <button class="buy" mat-flat-button color="warn"><a routerLink="/fashion" class="card-link">BUY</a>
        </button>
      </div>
    </li>
  
    <li class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://m.media-amazon.com/images/I/71uJMoc1rmL._AC_UL320_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shirt</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-body">
        <button class="addToCard" mat-flat-button color="warn" (click)="addToCard()"> ADD TO CART
        </button>
        <button class="buy" mat-flat-button color="warn"><a routerLink="/fashion" class="card-link">BUY</a>
        </button>
      </div>
    </li>
    
    <li class="card" style="width: 18rem;">
      <img class="card-img-top" src="https://m.media-amazon.com/images/I/81mPHUea8HL._AC_UL320_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Shirt</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.
        </p>
      </div>
      <div class="card-body">
        <button class="addToCard" mat-flat-button color="warn" (click)="addToCard()"> ADD TO CART
        </button>
        <button class="buy" mat-flat-button color="warn"><a routerLink="/fashion" class="card-link">BUY</a>
        </button>
      </div>
    </li>
  
  
  </ul>
  