<mat-grid-list cols="2" rowHeight="1:1">
  <form [formGroup]="loginForm">
    <mat-grid-tile class="col justify-content-center">
      <mat-card class="col-12">
        <mat-card-title>User Details</mat-card-title>
        <mat-card-content>
          <mat-form-field class="col-8">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Full Name" type="text" formControlName="fullName" />
            <mat-icon matSuffix>person_2</mat-icon>
            <ng-container *ngFor="let error of error_messages.fullName">
              <mat-error class="error-message" *ngIf="
                      loginForm.get('fullName').hasError(error.type) &&
                      (loginForm.get('fullName').dirty || loginForm.get('fullName').touched)
                    ">
                {{ error.message }}
              </mat-error>
            </ng-container>
          </mat-form-field>
         
          <mat-form-field class="col-8">
            <mat-label>Your Birthday</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="birthDate" />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div class="error-messages">
              <ng-container *ngFor="let error of error_messages.birthDate">
                <div class="error-message" *ngIf="
                        loginForm.get('birthDate').hasError(error.type) &&
                        (loginForm.get('birthDate').dirty || loginForm.get('birthDate').touched)
                      ">
                  {{ error.message }}
                </div>
              </ng-container>
            </div>
          </mat-form-field>

          <mat-form-field class="col-8">
            <mat-label>Gender</mat-label>
            <select matNativeControl required>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </mat-form-field>

          <mat-form-field class="col-8">
            <mat-label>Country</mat-label>
            <select matNativeControl required>
              <option value="India">India</option>
              <option value="USA">USA</option>
              <option value="Garmany">Garmany</option>
              <option value="Spain">Spain</option>
              <option value="Argentina">Argentina</option>
            </select>
          </mat-form-field>

          <mat-form-field class="col-8">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Phone Number" type="number" formControlName="phoneCode" />
            <mat-icon matSuffix>phone</mat-icon>
            <ng-container *ngFor="let error of error_messages.phoneCode">
              <mat-error class="error-message" *ngIf="
                      loginForm.get('phoneCode').hasError(error.type) &&
                      (loginForm.get('phoneCode').dirty || loginForm.get('phoneCode').touched)
                    ">
                {{ error.message }}
              </mat-error>
            </ng-container>

          </mat-form-field>

       

          <!-- <mat-form-field class="col-8">
            <mat-label>Bio</mat-label>
            <textarea matInput #message maxlength="256" placeholder="About your self" formControlName="bio"></textarea>
            <mat-hint align="start">Tell us abount Yourself</mat-hint>
            <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
            <mat-error *ngIf="loginForm.get('bio').hasError('required')">please write about youself</mat-error>
            <mat-error *ngIf="loginForm.get('bio').hasError('maxlength')">maximum characters upto 256</mat-error>
          </mat-form-field> -->
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile class="row justify-content-center">
      <mat-card class="col-12">
        <mat-card-title>Account Details</mat-card-title>
        <!-- <mat-card-content>
          <mat-form-field class="col-8">
            <mat-label>Username</mat-label>
            <input matInput placeholder="user Name" type="text" formControlName="userName" minlength="5" />
            <mat-icon matSuffix>person_2</mat-icon>
            <mat-error *ngIf="loginForm.get('userName').hasError('required')">please enter username</mat-error>
            <mat-error *ngIf="loginForm.get('userName').hasError('minlength')">user name must be at least 5 charactters
              long</mat-error>
            <mat-error *ngIf="loginForm.get('userName').hasError('pattern')">Your user name must contain only number
              andletters</mat-error>
            <mat-error *ngIf="loginForm.get('userName').hasError('maxlength')">maximum 25 characters</mat-error>
          </mat-form-field>
        </mat-card-content> -->

        <mat-card-content>
          <mat-form-field class="col-8">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" type="email" formControlName="email" />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="loginForm.get('email').hasError('required')">please enter Email address</mat-error>
            <mat-error *ngIf="loginForm.get('email').hasError('email')">Enter valid email address</mat-error>
          </mat-form-field>
        </mat-card-content>

        <!-- <mat-card-content>
          <mat-form-field class="col-8">
            <mat-label>Enter your password</mat-label>
            <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>

            <mat-error class="help-block" *ngIf="
            " loginForm.get('password').hasError('required') && "loginForm.get('password').touched
              ">
              please enter valid password
            </mat-error>
          </mat-form-field>
        </mat-card-content> -->

        <!-- <mat-card-content>
          <mat-form-field class="col-8">
            <mat-label>Confirm password</mat-label>
            <input matInput formControlName="confirmpassword" [type]="hide ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="
            " loginForm.get('confirmpassword').hasError('required') && "loginForm.get('confirmpassword').touched
              ">
              *Password must be required</mat-error>
            <mat-error class="error-text" *ngIf="loginForm.errors['notSame']">*Password mismatch
            </mat-error>
          </mat-form-field>
        </mat-card-content> -->

        <!-- <mat-card-content>
          <section class="example-section-mt-2">
            <mat-checkbox class="example-margin" formControlName="checkBox">I accept terms and conditions
            </mat-checkbox>
          </section>
          <mat-error *ngIf="loginForm.get('checkBox').hasError('requiredtrue')">please check it</mat-error>
        </mat-card-content> -->

        <mat-card-content>
          <button type="submit" [disabled]="loginForm.invalid" mat-flat-button color="accent">
            Submit
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </form>
</mat-grid-list>
