<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!{{name}}
    <p><app-demo></app-demo></p>
    <h5>employee count ={{empcount}}</h5>
    <h5>{{currentTime()}}
    </h5>
  </h1>
  <!-- <img width="300" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="> -->
  <!-- <img [src]="imageUrl" alt="nature image" width="350px" height="250px"> -->
</div>
<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

{{data.name}} <br>
{{ data.id}} <br>

{{5*5}} <br>


<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>

<!-- this is selector of test2 component -->
<app-test2 [child]="parantToChild" (fromChild)="onParent($event)"></app-test2>

<!-- This is selector of card component... <app-card> is called as selector -->
<app-card [title]="posts[0].title" [content]="posts[0].Content"></app-card>
<app-card [title]="posts[1].title" [content]="posts[1].Content"></app-card>

<app-auto-password></app-auto-password>

<app-output-decorator (fromOut)="toOut($event)" (showingDetails)="fromEmpDetails($event)"></app-output-decorator>

<router-outlet></router-outlet>