<div class="row">
  <div>
    <p appCustom>This is custom directive</p>
  </div>
  <div class="col-md-6">
    <div class="card" style="width: 8rem;">
      <img class="card-img-top" src="../../assets/laptop.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Laptop</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a routerLink="laptop" class="btn btn-primary">Laptop</a>
      </div>
    </div>

    <div class="card" style="width: 8rem;">
      <img class="card-img-top" src="../../assets/mobile.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Mobile</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a routerLink="mobile" class="btn btn-primary">Mobile</a>
      </div>
    </div>

    <div class="card" style="width: 8rem;">
      <img class="card-img-top" src="../../assets/camera.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Camera</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a routerLink="camera" class="btn btn-primary">Camera</a>
      </div>
    </div>

    <div class="card" style="width: 8rem;">
      <img class="card-img-top" src="../../assets/watch.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Watch</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a routerLink="watch" class="btn btn-primary">Watch</a>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <router-outlet></router-outlet>
  </div>
</div>
