
<!-- TODO Template driven form -->
<div class="col-md-6 container-fluid">
  <div class="col-md-6 container justify-content-center">
    <div class="col-md-5 mt-5">
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" required>
          <div *ngIf="loginForm.submitted || loginForm.touched && loginForm.controls.username.errors?.required"
            class="text-danger">Username is required.</div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="text" class="form-control" id="password" name="password" [(ngModel)]="password" required>
          <div *ngIf="loginForm.submitted || loginForm.touched && loginForm.controls.password.errors?.required"
            class="text-danger">Password is required.</div>
        </div>
        <button class="col-md-5 mt-3" type="submit" target="_blank" class="btn btn-primary">Login</button>
      </form>
      <div *ngIf="invalidCredentials" class="text-danger">Invalid credentials.</div>
    </div>
  </div>
</div>

<hr>

<!-- TODO Reactive form  -->
<div class="col-12 container-fluid">
  <div class="col-md-6 container">
    <form [formGroup]="sampleForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="col-6 mt-3">
          <label for="Name">Name :</label>
          <input type="text" formControlName="name" placeholder="Enter full name">
        </div>
        <small>
          <span *ngIf="sampleForm.get('name').errors['required']"> this filed is required</span>
        </small>
      </div>
      <div>
        <div class="col-6 mt-3">
          <label for="email">Email :</label>
          <input type="text" formControlName="email" placeholder="Enter full email">
        </div>
        <small>
          <span *ngIf=" sampleForm.get('email').errors['required']">this filed is
            required</span>
          <span *ngIf="!sampleForm.get('email').valid && sampleForm.get('email').touched">Enter valid email </span>
        </small>
      </div>
      <div class="formgroup mt-3" formArrayName="skills">
        <label>Skills</label>
        <ng-container *ngFor="let skill of sampleForm.get('skills').controls; index as i">
          <input type="text" class="form-control" formControlName="{{i}}" placeholder="Add Skills">
          <button (click)="removeSkill(i)">Delete</button>
        </ng-container>
        <button class="btn btn-light btn-small mt-4 btn-add" (click)="OnAddSkills()">+Add Skills</button>
      </div>
    </form>
  </div>
</div>
