<div class="container">
  <h3>Wikipidia Assignment</h3>
  <div class="row justify-content-center">

    <div class="search">

      <form>
          <input type="text" class="search" placeholder="search here!!" #uname>
          <button type="submit" (click)="getdata(uname)">Search</button>
      </form>

    </div>
    <!-- <app-search-bar (submitted)="getdata($event)"></app-search-bar> -->

    <div class="data">
      <table>
        <thead>
          <th>Title</th>
          <th>Word-Count</th>
          <th>Snippet</th>
        </thead>
        <thead>
          <tr *ngFor="let item of arrayData">
            <td>{{item.title}}</td>
            <td>{{item.wordcount}}</td>
            <td [innerHTML]="item.snippet"></td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
