<div class="container">
  <div class="row justify-content-center">
    <h2>Reactive Form</h2>
    <div class="col-md-6 text-left rounded shadow py-5">
      <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
        <div formGroupName="userDeatils">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control" id="username"
              placeholder="Enter user name" />
          </div>
          <small class="text-danger" *ngIf="!myReactiveForm.get('userDeatils.username').valid && 
          myReactiveForm.get('userDeatils.username').touched">
            <span *ngIf="myReactiveForm.get('userDeatils.username').errors['required']">
              User name not valid
            </span>
            <span *ngIf="myReactiveForm.get('userDeatils.username').errors['namesNotAllowed']">
              {{myReactiveForm.get('userDeatils.username').value}} is not allowed
            </span>
          </small>


          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" id="email"
              placeholder="Enter email address" />
            <small class="text-danger" *ngIf="!myReactiveForm.get('userDeatils.email').valid && 
            myReactiveForm.get('userDeatils.email').touched">enter valid email
              <!-- <span *ngIf="myReactiveForm.get('userDeatils.email').errors['required']">
                Email ID is not valid
              </span>
              <span *ngIf="myReactiveForm.get('userDeatils.email').errors['emailNotAllowed']">
                {{myReactiveForm.get('userDeatils.email').value}} is not allowed
              </span> -->
            </small>
            <small>note : codemindtechnology@gmail.com this email is not allowed</small>
          </div>
        </div>
        <div class="form-group">
          <label for="course">select course</label>
          <select formControlName="course" id="course" class="form-control">
            <option value="Angular">Angular</option>
            <option value="Javascript">Javascript</option>
            <option value="Typescript">Typescript</option>
          </select>
        </div>

        <div class="formgroup" formArrayName="skills">
          <label>Skills</label>
          <ng-container *ngFor="let skill of myReactiveForm.get('skills').controls; index as i">
            <input type="text" class="form-control" formControlName="{{i}}" placeholder="Add Skills">
          </ng-container>


          <button class="btn btn-light btn-small mt-4 btn-add" (click)="OnAddSkills()">+Add Skills</button>


        </div>
        <button [disabled]="myReactiveForm.invalid" type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="row justify-content-center mt-2" *ngIf="isSubmited">
        <div class="col-md-6 rounded shadow py-4">
          <p>
            Username:
            <strong>{{
              myReactiveForm.get("userDeatils.username").value
            }}</strong>
          </p>
          <p>
            Email :
            <strong>{{
              myReactiveForm.get("userDeatils.email").value
            }}</strong>
          </p>
          <p>
            Course :
            <strong>{{
              myReactiveForm.get('course').value
            }}</strong>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
