<h3>Auto pasword genrator</h3>
<ol>
    <li>Enter Length<input type="number" [(ngModel)]="passwordLength" id="enterLength" autofocus></li>
    <li> Use Letters<input type="checkbox" id="letters" [(ngModel)]="useLetter"></li>
    <li>Use Number<input type="checkbox" id="number" [(ngModel)]="useNumber"></li>
    <li>Use Symbols<input type="checkbox" id="symbole" [(ngModel)]="useSymbole"></li>

    <li><input type="button" value="Generate" (click)="getPassword($event)" id="buttan"></li>

    <div>
        <label>Your password :</label>
        <p>{{generatepassword}}</p>
    </div>
</ol>